
<div>
    <input type="button" class="btn btn-primary btn-space" (click)="operation('+')" value="+"/>
    <input type="button" class="btn btn-primary btn-space" (click)="operation('-')" value="-"/>
    <input type="button" class="btn btn-primary btn-space" (click)="operation('*')" value="*"/>
    <input type="button" class="btn btn-primary btn-space" (click)="operation('/')" value="/"/>
    <input type="button" class="btn btn-primary btn-space" (click)="getTotal()" value=" = "/>
    <input type="button" class="btn btn-primary btn-space" (click)="resetAll()" value=" CLR "/>
</div>